body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #240750;
    color: white;
}
h2 {
    color: #57a6a1;
    margin: 0px;
}
.card {
    margin: 200px 200px;
    padding: 30px;
    width: 400px;
    background-color: #344c64;
    border-radius: 10px;
}
.main {
    display: flex;
    flex-direction: column;
}
.main input {
    margin: 20px 0;
    padding: 20px 30px;
    border-radius: 7px;
    font-size: 1rem;
    border: solid white;
    outline: none;
}
button {
    margin: 20px 0 10px 0;
    padding: 10px 0px;
    width: 200px;
    border-radius: 7px;
    background-color: #57a6a1;
    color: #344c64;
    border: solid #57a6a1;
}
button:hover {
    background-color: #3f726f;
}
button:active {
    background-color: #060a0a;
}
#imgBox {
    /* display: none; */
}
