body {
    box-sizing: border-box;
    margin: 30px;
    padding: 0;
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 20px 10px;
    padding: 10px 50px;
    border-radius: 7px;
    color: white;
}
#success {
    background-color: #2bb486;
}
#error {
    background-color: #ff204e;
}
#invalid {
    background-color: #dc9c36;
}
