body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #070f2b;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}
#contents {
    display: flex;
    flex-direction: column;
    margin-block-start: 200px;
    padding: 20px;
    border: 2px solid #9290c3;
    border-radius: 13px;
    align-items: center;
}

#heading {
    color: #535c91;
}
#timer {
    color: #9290c3;
}

button {
    padding: 7px 15px;
    border: 0px;
    border-radius: 7px;
}
/* Start button ------------------ */
#startBtn {
    background-color: #535c91;
}
#startBtn:hover {
    background-color: #68b770;
}
#startBtn:active {
    background-color: #098215;
}
/* Stop button ------------------ */
#stopBtn {
    background-color: #9290c3;
}
#stopBtn:hover {
    background-color: #ff204e;
}
#stopBtn:active {
    background-color: #a0153e;
}
/* Reset button ------------------ */
#resetBtn {
    background-color: #535c91;
}
#resetBtn:hover {
    background-color: white;
}
#resetBtn:active {
    background-color: rgb(134, 134, 134);
}
