body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
#mainLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
nav ul li {
    margin: 0px 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}
.mainContent h1 {
    font-size: 4rem;
}
.mainContent p {
    font-size: 1.2rem;
}
.mainContent button {
    width: 200px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    outline: 0;
    font-size: 20px;
    background-color: #ff204e;
    color: white;
    border-radius: 5px;
    text-align: center;
}
#name {
    color: red;
}
#manPic {
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.fa-moon {
    font-size: 1.5rem;
}
.fa-sun {
    /* display: none !important; */
    font-size: 1.5rem;
}
